@model dys2.Models.Makale

@{
    ViewBag.Title = "Delete";
    Layout = "~/Areas/Editor/Views/Shared/_AdminLayout.cshtml";
}

<h2>Delete</h2>

<h3>Are you sure you want to delete this?</h3>
<div>
    <h4>Makale</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.YayinBasligi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.YayinBasligi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Ozet)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Ozet)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Doi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Doi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Kaynaklar)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Kaynaklar)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DosyaIsmi)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DosyaIsmi)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BicimDenetleyici)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BicimDenetleyici)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SekreterOnay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SekreterOnay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EditorOnay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EditorOnay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BolumEditoruOnay)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BolumEditoruOnay)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.HakemYorum)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.HakemYorum)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Delete" class="btn btn-default" /> |
            @Html.ActionLink("Back to List", "Index")
        </div>
    }
</div>
