@model IEnumerable<dys2.Models.Makale>

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        
        <th>
            @Html.DisplayNameFor(model => model.YayinBasligi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ozet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kaynaklar)
        </th>
        
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        
        <td>
            @Html.DisplayFor(modelItem => item.YayinBasligi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ozet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kaynaklar)
        </td>
        
        <td>
            @Html.ActionLink("Onaya Gönder", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Anahtar Ekle", "AnahtarEkle", new { id = item.Id }) |
            @Html.ActionLink("Dosya Yükle", "DosyaYukle", new { id = item.Id }) |
            @Html.ActionLink("Dosya Ac", "DosyaAc", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
