@model IEnumerable<dys2.Models.Makale>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/BolumEditoru/Views/Shared/_AdminLayout.cshtml";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.YayinBasligi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Ozet)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Doi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Kaynaklar)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DosyaIsmi)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BicimDenetleyici)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.SekreterOnay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.EditorOnay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BolumEditoruOnay)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.BolumEditoruMail)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HakemYorum1)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HakemYorum2)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HakemYorum3)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.YayinBasligi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Ozet)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Doi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Kaynaklar)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.DosyaIsmi)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.BicimDenetleyici)
        </td>
        
        
       
        <td>
            @Html.DisplayFor(modelItem => item.BolumEditoruMail)
        </td>
        
        
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.Id }) |
            @Html.ActionLink("Details", "Details", new { id=item.Id }) |
            @Html.ActionLink("Dosya Yükle", "DosyaYukle", new { id = item.Id }) |
            @Html.ActionLink("Dosya Ac", "DosyaAc", new { id = item.Id }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.Id })
        </td>
    </tr>
}

</table>
